*.iml
*.ipr
*.iws
.DS_STORE
.idea
.project
.sass-cache
META-INF/
dist/*
dk/
index
index_dict
lib/*.jar
lib/*.pom
lib/*.zip
log/*
logs
node_modules/*
reports/*
src/main/java/com/wordnik/env/Version.scala
swagger-ui.sublime-workspace
version.properties
web/
wordnik*.zip
